[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/olteanu5000
[access "refs/for/refs/*"]
	read = group user/olteanu5000
	push = group user/olteanu5000
	label-Code-Review = -2..+2 group user/olteanu5000
	label-Verified = -1..+1 group user/olteanu5000
	rebase = group user/olteanu5000
	removeReviewer = group user/olteanu5000
	submit = group user/olteanu5000
[access "refs/heads/*"]
	read = group user/olteanu5000
	create = group user/olteanu5000
	push = +force group user/olteanu5000
	pushMerge = group user/olteanu5000
[access "refs/tags/*"]
	push = +force group user/olteanu5000
	pushTag = group user/olteanu5000
	pushSignedTag = group user/olteanu5000
